<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
<!--         <link rel="stylesheet" href="/css/app.css"> -->
    </head>
    <body>
        <h1>Dogs for Adoption</h1>
        <ul>
             <% for(let i = 0; i < dogs.length; i++){%>
            <li>
                <a href=/dogs/<%=i%>><%=dogs[i].name%></a>
            </li>
            <%}%>
        </ul>
    </body>
</html>