<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
<!--         <link rel="stylesheet" href="/css/app.css"> -->
    </head>
    <body>
    <h1>Dog Information</h1>
        <ul>
            <div class="show">
                <li><%=dogs.name%></li>
                <li><%=dogs.size%></li>
                <li><%=dogs.color%></li>
                <li><%=dogs.spayedNeutered%></li>
            </div>
        </ul>
    </body>
</html>